/* headingMd 클래스는 중간 크기의 제목에 사용되며, 폰트 크기와 줄 간격을 설정합니다. */
.headingMd {
    font-size : 1.2rem; /* 폰트 크기를 1.2rem으로 설정합니다. rem은 상위 요소의 폰트 크기에 상대적인 단위입니다. */
    line-height: 1.5; /* 줄 간격을 1.5로 설정합니다. */
}

/* padding1px 클래스는 상단 패딩을 1px로 설정합니다. */
.padding1px {
    padding-top: 1px; /* 상단 패딩을 1px로 설정합니다. */
}

/* headingLg 클래스는 큰 크기의 제목에 사용되며, 폰트 크기, 줄 간격, 그리고 마진을 설정합니다. */
.headingLg {
    font-size: 1.5rem; /* 폰트 크기를 1.5rem으로 설정합니다. */
    line-height: 1.4; /* 줄 간격을 1.4로 설정합니다. */
    margin:1rem 0; /* 위 아래 마진을 1rem으로 설정하고 좌우 마진은 0으로 설정합니다. */
}

/* List 클래스는 리스트에 사용되며, 리스트 스타일을 없애고 패딩과 마진을 0으로 설정합니다. */
.List {
    list-style: none; /* 리스트 스타일을 없앱니다. 이렇게 하면 불릿이나 번호가 표시되지 않습니다. */
    padding: 0; /* 패딩을 0으로 설정합니다. */
    margin: 0; /* 마진을 0으로 설정합니다. */
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #666;
}

.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}